.Rproj.user
.Rhistory
.RData
.Ruserdata
*.code-workspace
*.rds
*.rda
*.html
*_cache/
*_files/
data-raw/model-output/
*.o
*.so
dlm_ar1.cpp
*.pdf
*.docx
figs/
*.log
*.key
*.pdf
*.aux
.DS_Store
data-generated
